flows.json
[
    {
        "id": "8aa95a557152497d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42fb2b8e2141d3ca",
        "type": "ui_tab",
        "name": "TRA CUU MSSV",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8a5d0838d8d9eb6e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c39e67aeb0c14a90",
        "type": "ui_group",
        "name": "groupName",
        "tab": "42fb2b8e2141d3ca",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "611ee3bbde6c203d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9034712c60d356eb",
        "type": "ui_button",
        "z": "8aa95a557152497d",
        "name": "",
        "group": "c39e67aeb0c14a90",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "send ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "id",
        "payloadType": "flow",
        "topic": "/19127517/info1",
        "topicType": "flow",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "f859f86697d88771",
                "613424c6d13c1483"
            ]
        ]
    },
    {
        "id": "b66b6fc11a25f230",
        "type": "mqtt in",
        "z": "8aa95a557152497d",
        "name": "",
        "topic": "/19127517/info",
        "qos": "2",
        "datatype": "auto",
        "broker": "611ee3bbde6c203d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "e2153ea3997fa5ec"
            ]
        ]
    },
    {
        "id": "3117fc94be35dde4",
        "type": "ui_text_input",
        "z": "8aa95a557152497d",
        "name": "",
        "label": "MSSV:",
        "tooltip": "",
        "group": "c39e67aeb0c14a90",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "id",
        "sendOnBlur": true,
        "className": "",
        "topicType": "flow",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "fd5f2b8d79eb462b"
            ]
        ]
    },
    {
        "id": "f859f86697d88771",
        "type": "mqtt out",
        "z": "8aa95a557152497d",
        "name": "",
        "topic": "/19127517/info1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "611ee3bbde6c203d",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd5f2b8d79eb462b",
        "type": "function",
        "z": "8aa95a557152497d",
        "name": "",
        "func": "flow.set(\"id\",msg.payload)\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e2153ea3997fa5ec",
        "type": "ui_text",
        "z": "8aa95a557152497d",
        "group": "c39e67aeb0c14a90",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SINH VIEN:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "3561d7a6318b34c2",
        "type": "ui_toast",
        "z": "8aa95a557152497d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "success",
        "name": "",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "f8a89477c2cd5e86",
        "type": "ui_toast",
        "z": "8aa95a557152497d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "failed",
        "name": "",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "613424c6d13c1483",
        "type": "switch",
        "z": "8aa95a557152497d",
        "name": "",
        "property": "id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "19127517",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "19127517",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "3561d7a6318b34c2"
            ],
            [
                "f8a89477c2cd5e86"
            ]
        ]
    }
]